{
  "extends": "stylelint-config-standard",
  "plugins": [
    "stylelint-scss"
  ],
  "rules": {
    "at-rule-no-unknown": null,
    "color-named": [
      "always-where-possible",
      ignore: ["inside-function"]
    ],
    "max-empty-lines": 4,
    "string-quotes": "single",
    "color-hex-length": "long",
    "declaration-colon-newline-after": null,
    "font-family-name-quotes": null,
    "number-leading-zero": "never",
    "value-list-comma-newline-after": null,
    "max-nesting-depth": 3,
    "unit-whitelist": ['%', 'px', 'rem', 's', 'deg', 'ms', 'fr', 'pt'],
    "no-descending-specificity": null
  }
}
