.c-checklist__column.c-checklist__checkbox
  input.checkbox(type="checkbox" name=`c-checklist__item-${sectionTitle.toLowerCase()}-${i}` id=`c-checklist__item-${sectionTitle.toLowerCase()}-${i}`)
  +svg-icon.icon.icon-checkbox(data-icon-name='checkbox')
  +svg-icon.icon.icon-checked(data-icon-name='checked')
