- allClass = ''
- dataItemDropdown
- priorityClass = item.priority.toLowerCase()

//- Iteration over tags array
each tag in item.tags

  //- Create an empty array to put all values from tags array
  - var tempClass = []

  //- Slip and add a dash if the tag is more than 1 word
  - tag = tag.toLowerCase().split(' ').join('-')

  //- Push array value into tempClass array
  - tempClass.push(tag)

  - for (var i = 0; i < tempClass.length; i++)
    - allClass += tempClass[i] + ' ';

if item.tools || item.documentation || item.code || item.video
  - dataItemDropdown = "open"
else
  - dataItemDropdown = "false"
