footer.page-footer
  .s-footer

    .s-footer__badges

      p
        a(href="https://github.com/thedaviddias/Front-End-Checklist/")
          img(src="https://camo.githubusercontent.com/05034eed0515ee94cb8c8829dad9ace1f4e7d79e/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f46726f6e74254532253830253931456e645f436865636b6c6973742d666f6c6c6f7765642d627269676874677265656e2e737667" alt="Front‑End_Checklist followed" data-canonical-src="https://img.shields.io/badge/Front%E2%80%91End_Checklist-followed-brightgreen.svg")

    .s-footer__grateful

      p Accelerated by #[a(href="https://www.keycdn.com/" target='_blank', rel="noopener noreferrer") KeyCDN]

      p Icons made by #[a(href='http://www.freepik.com' target='_blank', rel="nofollow noopener noreferrer") Freepik] from #[a(href='https://www.flaticon.com/', title='Flaticon' rel="nofollow noopener noreferrer") www.flaticon.com] is licensed by #[a(href='http://creativecommons.org/licenses/by/3.0/', title='Creative Commons BY 3.0', target='_blank', rel="noopener noreferrer") CC 3.0 BY]

    .s-footer__made
      p Made with ❤️ by #[a(href="https://thedaviddias.me") David Dias ("The")] #[a.twitter-follow-button(href="https://twitter.com/TwitterDev" data-show-count="false" data-show-screen-name="false") Follow @thedaviddias] for the Open-Source Community.
