block vars
  - listSections = []

//- Inject all mixins to be able to call these
include ../mixins/mixins


doctype html
<!-- Doctype HTML5 -->
html.no-js(lang=translation.SITE_LANGUAGE, dir=translation.SITE_DIRECTION)
  head

    //- Include the HEAD of the page
    include head
  body

    //- Scripts needed to be load just after the body
    include before-scripts

    //- Website wrapper
    .page-wrapper

      .page-header
        //- Top banners with informations for the user
        include ../components/c-top-alert

        include header

      .page-main

        //- The main tag is not include in the block main because repeted
        main.s-main#js-main
          block main

      .page-footer
        include footer

    //- Scripts loading
    include after-scripts
