meta(property="og:type" content="website")
meta(property="og:url" content="http://frontendchecklist.com")
meta(property="og:title" content="Front-End Checklist")
meta(property="og:image" content="http://frontendchecklist.com/public/social/bg-facebook.jpg")
meta(property="og:description" content="Description Here")
meta(property="og:site_name" content="Front-End Checklist")
meta(property="og:locale" content="en_US")
