meta(property="og:site_name" content="Front-End Checklist")
meta(property="og:url" content=translation.URL_WEBSITE)
meta(property="og:type" content="website")
meta(property="og:title" content=translation.INDEX_TITLE)
meta(property="og:description" content=translation.SITE_DESCRIPTION)
meta(property="og:image" content=`${translation.URL_WEBSITE}/dist/..img/social/facebook-banner.jpg`)
meta(property="og:image:type" content="image/jpeg")
meta(property="og:image:width" content="1200")
meta(property="og:image:height" content="630")
meta(property="og:image:alt" content="The NEW Front-End Checklist - Start, Check, Generate and enjoy!")
meta(property="og:locale" content="en_US")

meta(name="twitter:card" content="summary")
meta(name="twitter:site" content="@thedaviddias")
meta(name="twitter:creator" content="@thedaviddias")
