mixin checklist-section(options)

  - sectionId = '0'; //- Start with 0 to have 1 as first section
  - sectionTitle = options.sectionTitle || '';
  - dataSection = options.dataSection || [];
  - filter = options.filter || 'all';

  //- Push each section title to build navigation bar
  - listSections.push(sectionTitle.toLowerCase())

  //- Add a 0 in the array everytime the mixin is called
  - listSectionId.push(sectionId++)


  //- Section
  section.s-checklist.js-section(class="s-checklist__" + sectionTitle.toLowerCase(), data-section=sectionTitle.toLowerCase(), data-section-id=`${listSectionId.length-1}`, id="section-" + sectionTitle.toLowerCase())
    .s-checklist__inner
      .s-checklist__header

        .s-checklist__title

          h2.s-checklist__header__title= sectionTitle

          include ../components/c-progress

        include ../components/c-tools

      .s-checklist__body.js-checklist-body(data-body-visibility="visible", aria-hidden="false")

        //- Include checklist component
        include ../components/c-checklist
