mixin svg-icon
  -
    var icon = attributes['data-icon-name']

  case icon
    when 'checkbox'
      include ../components/svg/checkbox

    when 'checked'
      include ../components/svg/checked

    when 'arrow'
      include ../components/svg/arrow

    when 'bullet'
      include ../components/svg/bullet

    when 'reset'
      include ../components/svg/reset

    when 'eye'
      include ../components/svg/eye

    when 'check'
      include ../components/svg/check

    when 'collapse'
      include ../components/svg/collapse

    when 'expand'
      include ../components/svg/expand

    when 'print'
      include ../components/svg/print

    when 'code'
      include ../components/svg/code

    default
      include ../components/svg/checkbox
