@charset 'utf-8';

// Config and utilities
@import 'config/variables';
@import 'config/v-namespaces';
@import 'config/v-colors';
@import 'config/v-typography';
@import 'utilities/functions/functions';
@import 'utilities/mixins/mixins';
@import 'utilities/utilities';

// General styling using DOM element selectors
@import 'base/print';
@import 'base/fonts';
@import 'base/icons';
@import 'base/generic';
@import 'base/headings';
@import 'base/form';
@import 'base/media';
@import 'base/links';
@import 'base/typography';

// Layout
@import 'layout/page';
@import 'layout/s-header';
@import 'layout/s-aside';
@import 'layout/s-main';
@import 'layout/s-checklist';
@import 'layout/s-footer';

// Components
@import 'components/c-top-alert';
@import 'components/c-sponsor';
@import 'components/c-button';
@import 'components/c-checklist';
@import 'components/c-dropdown';
@import 'components/c-newsletter';
@import 'components/c-github';
@import 'components/c-tools';
@import 'components/c-list';
@import 'components/c-nav';
@import 'components/c-progress';
@import 'components/c-notation';
@import 'components/c-tags';
