extends base/layout

//- Block main
block main

  include components/s-section-top

  //- List each section (the order is linked to the order of the c-nav)
  //- _items is in the JSON injected in the view with gulp-data (called _project.json)
  .s-main__section.s-main__checklist

    if _items !== undefined

      +checklist-section({
        dataSection: _items.利用方法,
        sectionTitle: "利用方法"
      })

      //- +checklist-section({
      //-   dataSection: _items.html,
      //-   sectionTitle: "HTML"
      //- })

      //- +checklist-section({
      //-   dataSection: _items.webfonts,
      //-   sectionTitle: "Webfonts"
      //- })

      //- +checklist-section({
      //-   dataSection: _items.css,
      //-   sectionTitle: "CSS"
      //- })

      //- +checklist-section({
      //-   dataSection: _items.javascript,
      //-   sectionTitle: "JavaScript"
      //- })

      //- +checklist-section({
      //-   dataSection: _items.images,
      //-   sectionTitle: "Images"
      //- })

      //- +checklist-section({
      //-   dataSection: _items.accessibility,
      //-   sectionTitle: "Accessibility"
      //- })

      //- +checklist-section({
      //-   dataSection: _items.performance,
      //-   sectionTitle: "Performance"
      //- })

      //- +checklist-section({
      //-   dataSection: _items.seo,
      //-   sectionTitle: "SEO"
      //- })

  include components/s-section-bottom
