#mc_embed_signup
  h2 Don't miss the Front-End Checklist news!

  p Time to time I'll send you an email with all new evolutions and projects related to the Front-End Checklist. No spam, no cheese!

  form#mc-embedded-subscribe-form.validate(action='https://david-dias.us4.list-manage.com/subscribe/post?u=766ec606ec124252ef84eae4e&id=ef844c4ec4', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
    #mc_embed_signup_scroll
      input#mce-EMAIL.email(type='email', value='', name='EMAIL', placeholder='Enter your Email address', required='')
      //- real people should not fill this in and expect good things - do not remove this or risk form bot signups
      div(style='position: absolute; left: -5000px;', aria-hidden='true')
        input(type='text', name='b_766ec606ec124252ef84eae4e_ef844c4ec4', tabindex='-1', value='')
      .clear
        input#mc-embedded-subscribe.button(type='submit', value='Subscribe', name='subscribe')
