.c-sponsor
  .cs__wrapper
    .cs__header Front-End Checklist is proudly sponsored by
    a.cs__blurb(href='https://codesponsor.io', target='_blank', rel='noopener')
      span.cs__blurb__name CodeSponsor.io
      span.cs__blurb__tagline  - get paid by adding one line of code to your README
    .cs__footer
      | powered by&nbsp;
      a(href='https://codesponsor.io', target='_blank', rel='noopener') codesponsor.io
    img.cs__pixel(src="#" width='1' height='1' alt="")
