.c-sponsor
  a(href="https://app.codesponsor.io/link/HxqChNNHFKFaMpEpEikk4EM4/thedaviddias/Front-End-Checklist" target='_blank' rel="nofollow noopener noreferrer")
    img(src="https://app.codesponsor.io/embed/HxqChNNHFKFaMpEpEikk4EM4/thedaviddias/Front-End-Checklist.svg" width='888' height='68' alt="Sponsor")
