.c-tools

  .c-button__group
    button.c-button-icon.js-check-all(title="Check all items")
      +svg-icon.icon.icon-check(data-icon-name='check')

    button.c-button-icon.js-uncheck-all(title="Uncheck all items")
      +svg-icon.icon.icon-uncheck(data-icon-name='check')

  .c-button__group
    button.c-button-icon.js-expand-all(title="Expand all items")
      +svg-icon.icon.icon-check(data-icon-name='expand')

    button.c-button-icon.js-collapse-all(title="Collapse all items")
      +svg-icon.icon.icon-uncheck(data-icon-name='collapse')

  .c-button__group
    button.c-button-icon.js-hide-section(title="Hide current section")
      +svg-icon.icon.icon-eye(data-icon-name='eye')
